### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

### Terraform ###
# Local .terraform directories
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*

### MacOS System files ###
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Ignore only terraform.tfvars files
terraform.tfvars

#tfsec binary
tfsec
tfsec.exe
tfsec.tar.gz
tfsec.tgz

# Archive files
*.zip
*.tar.gz
*.tgz
*.tar
*.gz
*.rar