---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
data:
  policy.csv: |
    p, role:${p_role}, applications, *, */*, deny
    p, role:${p_role}, clusters, get, *, deny
    p, role:${p_role}, repositories, get, *, deny
    p, role:${p_role}, repositories, create, *, deny
    p, role:${p_role}, repositories, update, *, deny
    p, role:${p_role}, repositories, delete, *, deny
    p, role:${p_role}, logs, get, *, deny
    p, role:${p_role}, exec, create, */*, deny

%{ for group in rbac4groups ~}
    g, "${ group.name }", role:${ group.role }
%{ endfor ~}
  policy.default: role:${default_role}
  scopes: '[groups, email]'
  policy.matchMode: 'glob'
